---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const { slug } = Astro.params;
const post = posts.find((post) => post.slug === slug);

if (!post) {
    throw new Error(`Post not found for slug ${slug}`);
}

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { slug: post.slug },
    }));
}

import { formatDate } from "../../utils/formatDate";
---

<Layout title={post.data.title}>
    <div class="flex justify-center">
        <div class="w-3/4 relative">
            <a
                href="/posts/"
                class="absolute right-0 top-0 text-2xl text-white bg-blue-500 px-4 py-1 rounded-lg duration-300 hover:bg-blue-400"
            >
                Back to Posts
            </a>
            <h1 class="text-5xl font-semibold">{post.data.title}</h1>
            <p class="mt-8 text-2xl">
                {formatDate(post.data.date)}
            </p>
            <article class="mt-8 text-2xl leading-relaxed">
                {post.body}
            </article>
        </div>
    </div>
</Layout>
