---
import HeaderLink from "../components/HeaderLink.astro";

const currentPage = Astro.url.pathname;
---

<header class="flex justify-center items-center mt-4">
    <div class="flex-1 flex justify-evenly">
        <HeaderLink text="About" link="/about" currentPage={currentPage} />
        <HeaderLink
            text="Projects"
            link="/projects"
            currentPage={currentPage}
        />
        <HeaderLink
            text="Research"
            link="/research"
            currentPage={currentPage}
        />
    </div>

    <HeaderLink
        text="Eddy Jiang"
        link="/"
        currentPage={currentPage}
        textSize="text-4xl"
    />

    <div class="flex-1 flex justify-evenly">
        <HeaderLink text="Posts" link="/posts" currentPage={currentPage} />
        <HeaderLink text="Resume" link="/resume" currentPage={currentPage} />
        <HeaderLink text="Contact" link="/contact" currentPage={currentPage} />
    </div>
</header>
