---
import HeaderLink from "../components/HeaderLink.astro";
import BigHeaderLink from "../components/BigHeaderLink.astro";

const currentPage = Astro.url.pathname;
---

<header class="flex justify-center items-center mt-4">
    <div class="flex-1 text-2xl flex justify-evenly">
        <HeaderLink text="About" link="/about" currentPage={currentPage} />
        <HeaderLink
            text="Projects"
            link="/projects"
            currentPage={currentPage}
        />
        <HeaderLink
            text="Research"
            link="/research"
            currentPage={currentPage}
        />
    </div>

    <BigHeaderLink text="Eddy Jiang" link="/" currentPage={currentPage} />

    <div class="flex-1 text-2xl flex justify-evenly">
        <HeaderLink text="Posts" link="/posts" currentPage={currentPage} />
        <HeaderLink text="Resume" link="/resume" currentPage={currentPage} />
        <HeaderLink text="Contact" link="/contact" currentPage={currentPage} />
    </div>
</header>
