---
const { name, startDate, endDate, description, links, slug } = Astro.props;
import { formatShortDate } from "../utils/formatShortDate";
import { FaRegCalendar } from "react-icons/fa6";
import { FaLink } from "react-icons/fa6";
---

<article class="w-9/10 border border-gray-300 shadow-lg rounded-lg px-8 py-6">
    <h2 class="text-3xl text-blue-500">{name}</h2>
    {
        startDate ? (
            <span class="mt-4 flex items-center">
                <FaRegCalendar size={20} />
                <p class="text-xl ml-2">
                    {formatShortDate(startDate)} -
                    {endDate ? formatShortDate(endDate) : "Present"}
                </p>
            </span>
        ) : null
    }
    {
        links
            ? links.map((link: [string, string]) => (
                  <span class="mt-2 flex items-center">
                      <FaLink size={20} />
                      <a
                          class="text-xl text-blue-500 hover:text-blue-400 duration-300 ml-2"
                          href={link[1]}
                          target="_blank"
                      >
                          {link[0]}
                      </a>
                  </span>
              ))
            : null
    }
    {
        description ? (
            <p class="mt-4 text-xl leading-relaxed">{description}</p>
        ) : null
    }
    <a
        href={`/projects/${slug}`}
        class="mt-4 inline-block text-xl text-white bg-blue-500 px-4 py-1 rounded-lg duration-300 hover:bg-blue-400"
    >
        Read More
    </a>
</article>
