---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
const { slug } = Astro.params;
const project = projects.find((projects) => projects.slug === slug);

if (!project) {
    throw new Error(`Project not found for slug ${slug}`);
}

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { slug: project.slug },
    }));
}

import { formatDate } from "../../utils/formatDate";
---

<Layout title={project.data.name}>
    <div class="flex justify-center">
        <div class="w-3/4 relative">
            <a
                href="/projects/"
                class="absolute right-0 top-0 text-2xl text-white bg-blue-500 px-4 py-1 rounded-lg duration-300 hover:bg-blue-400"
            >
                Back to Projects
            </a>
            <h1 class="text-5xl font-semibold">{project.data.name}</h1>
            {
                project.data.startDate ? (
                    <p class="mt-8 text-2xl">
                        {formatDate(project.data.startDate)} -
                        {project.data.endDate
                            ? formatDate(project.data.endDate)
                            : "Present"}
                    </p>
                ) : null
            }
            {
                project.data.links ? (
                    <ul class="list-disc ml-8">
                        {project.data.links.map((link: [string, string]) => (
                            <li class="mt-2 text-2xl">
                                <a
                                    class="ml-2 text-blue-500 hover:text-blue-400 duration-300"
                                    href={link[1]}
                                    target="_blank"
                                >
                                    {link[0]}
                                </a>
                            </li>
                        ))}
                    </ul>
                ) : null
            }
            {
                project.body ? (
                    <article class="mt-8 text-2xl leading-relaxed">
                        {project.body}
                    </article>
                ) : project.data.description ? (
                    <article class="mt-8 text-2xl leading-relaxed">
                        {project.data.description}
                    </article>
                ) : null
            }
        </div>
    </div>
</Layout>
